<section class="section about">
    <div class="container">
        <p class="suptitle about-suptitle">tradition and love</p>
        <h2 class="title about-title">how it’s made?</h2>
        <div class="about-content-wrapper">
        <picture class="about-picture">
            <source srcset="./images/about/desktop/cow-about.webp 1x, ./images/about/desktop/cow-about@2x.webp 2x"
                media="(min-width: 1200px)" 
                type="image/webp" 
                />
            <source srcset="./images/about/desktop/cow-about.png 1x, ./images/about/desktop/cow-about@2x.png 2x"
                media="(min-width: 1200px)" 
                />
            <source srcset="./images/about/tablet/cow-about-tab.webp 1x, ./images/about/tablet/cow-about-tab@2x.webp 2x"
                media="(min-width: 768px)" 
                type="image/webp" 
                />
            <source srcset="./images/about/tablet/cow-about-tab.png 1x, ./images/about/tablet/cow-about-tab@2x.png 2x"
                media="(min-width: 768px)" 
                />
            <source srcset="./images/about/mobile/cow-about-mob.webp 1x, ./images/about/mobile/cow-about-mob@2x.webp 2x"
                media="(max-width: 767px)" 
                type="image/webp" 
                />
            <source srcset="./images/about/mobile/cow-about-mob.png 1x, ./images/about/mobile/cow-about-mob@2x.png 2x"
                media="(max-width: 767px)" 
                />
            <img src="./images/about/mobile/cow-about-mob.png" alt="cow with milk" class="about-image">
        </picture>
        <div class="about-text-button-wrapper">
        <ul class="about-list">
            <li class="about-text-list__item">
                <p class="about-list__text about-list__text--black">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
            </li>
            <li class="about-text-list__item">
                <p class="about-list__text">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                    imperdiet placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                    tincidunt.
                    <br>
                    <br>
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
            </li>
        </ul>
        <button class="about-button" type="button">
            <span class="about-button__content">
                <span class="about-button__text">Read more</span>
                <svg class="about-button__icon">
                    <use href="./images/sprite.svg#arrow"></use>
                </svg>
            </span>
        </button>
        </div>
        </div>
    </div>
</section>