
<section class="section section-adventures">
<div class="adventures-container container">
    <h2 class="visually-hidden">advantages</h2>
    <ul class="adventures__list">

        <li class="adventures__item adventures__item-one"> 
            <h3 class="adventures__title">721</h3>
            <p class="adventures__text">Our dairy cows can produce an average of 721 litres per day.</p>
           
        </li>
        <li class="adventures__item adventures__item-two">
            <h3 class="adventures__title">16kg</h3>
            <p class="adventures__text">Approximately 16 kg of natural fruits are consumed per day for our products.</p>
        </li>

        <li class="adventures__item adventures__item-three">
            <h3 class="adventures__title">84</h3>
            <p class="adventures__text">The calorie content of our products does not exceed 84.</p>
        </li>
        
    </ul>
</div>
</section>
