<section class="section contacts" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__name">CAFE</p>
        <p class="contacts__city">Chicago</p>
        <p class="contacts__text">1001 N Lake Shore Dr, Chicago, IL 60611</p>
        <div class="contacts__schedule">
          <div class="contacts__schedule_days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__schedule_days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
        </div>
        <div class="contacts__contact">
          <a href="tel:+610383766284" class="contacts__tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__mail"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__name contacts__name_another-color">FOOD TRUCK</p>
        <p class="contacts__city">Los Angeles</p>
        <p class="contacts__text">461 N Rodeo Dr, Beverly Hills, CA 90210</p>
        <div class="contacts__schedule">
          <div class="contacts__schedule_days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__schedule_days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
        </div>
        <div class="contacts__contact">
          <a href="tel:+610383766284" class="contacts__tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__mail"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__name">CAFE</p>
        <p class="contacts__city">New York</p>
        <p class="contacts__text">211 12th Ave, New York, NY 10014</p>
        <div class="contacts__schedule">
          <div class="contacts__schedule_days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__schedule_days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
        </div>
        <div class="contacts__contact">
          <a href="tel:+610383766284" class="contacts__tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__mail"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <ul class="button-list">
      <li class="button-list__item">
        <button class="button__dark" type="button" data-modal-open>
          <span class="button__text">Our Locations</span>
          <svg class="button__icon" height="10" width="8">
            <use href="./images/sprite.svg#arrow-white"></use>
          </svg>
        </button>
      </li>
      <li class="button-list__item">
        <button class="button" type="button">
          <span class="button__text">Franchise</span>
          <svg class="button__icon_dark" height="10" width="8">
            <use href="./images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
<!--modal location-->
<div class="backdrop is-hidden" data-modal>
  <div class="contacts-modal">
    <button type="button" class="contacts-modal__close-button" data-modal-close>
      <svg class="contacts-modal__close-button__icon" width="18" height="18">
        <use href="./images/sprite.svg#close"></use>
      </svg>
    </button>
    <form class="contacts-form">
      <p class="contacts-form__title">Our location</p>
      <div class="contacts-form__maps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.734604755637!2d-74.0001053843443!3d40.723858544826456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259e713d43875%3A0xbfd5eb3c3e1bb328!2sMUSEUM%20OF%20ICE%20CREAM!5e0!3m2!1sru!2sua!4v1643755388434!5m2!1sru!2sua"
          width="335"
          height="400"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </form>
  </div>
</div>
