<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__name">CAFE</p>
        <p class="contacts__city">Chicago</p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts__schedule">
          <div class="contacts__schedule_days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__schedule_days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
        </div>
        <div class="contacts__contact">
          <a href="tel:+610383766284" class="contacts__tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__mail"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__name">FOOD TRUCK</p>
        <p class="contacts__city">Los Angeles</p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts__schedule">
          <div class="contacts__schedule_days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__schedule_days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
        </div>
        <div class="contacts__contact">
          <a href="tel:+610383766284" class="contacts__tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__mail"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <p class="contacts__name">CAFE</p>
        <p class="contacts__city">New York</p>
        <p class="contacts__text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <div class="contacts__schedule">
          <div class="contacts__schedule_days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__schedule_days">
            <p class="contacts__days">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </div>
        </div>
        <div class="contacts__contact">
          <a href="tel:+610383766284" class="contacts__tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__mail"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <ul class="button-list">
      <li class="button-list__item">
        <button class="button__dark" type="button">
          <span class="button__text">Our Locations</span>
          <svg class="button__icon" height="8" width="3.6">
            <use href="/src/images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="button-list__item">
        <button class="button" type="button">
          <span class="button-text">Franchise</span>
          <svg class="arrow" height="8" width="3.6">
            <use href="/src/images/sprite.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>