<div class="slider__wrapper">
    <div class="slider">
        <div class="slides">
            <div id="slide-1">
                <div class="slider__box">
                    <img src="./images/customer-reviews/customer1.png" height="85px" width="85px" alt="customer1">
                    <div class="slider__text-box">
                        <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                            sem. In hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                            <svg class="slider__text-icon" width="54px" height="40px">
                                <use href="./images/sprite.svg#mark"></use>
                            </svg>
                        </p>
                    </div>
                    <span class="slider__dots"></span>
                    <h3 class="slider__title">Emily, Los Angeles</h3>
                </div>
            </div>
            <div id="slide-2">
                <div class="slider__box">
                    <img src="./images/customer-reviews/customer2.png" height="85px" width="85px" alt="customer2">
                    <div class="slider__text-box">
                        <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                            sem. In hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                            <svg class="slider__text-icon" width="54px" height="40px">
                                <use href="./images/sprite.svg#mark"></use>
                            </svg>
                        </p>
                    </div>
                    <span class="slider__dots"></span>
                    <h3 class="slider__title">Emily, Los Angeles</h3>
                </div>
            </div>
            <div id="slide-3">
                <div class="slider__box">
                    <img src="./images/customer-reviews/customer3.png" height="85px" width="85px" alt="customer3">
                    <div class="slider__text-box">
                        <p class="slider__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
                            sem. In hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                            <svg class="slider__text-icon" width="54px" height="40px">
                                <use href="./images/sprite.svg#mark"></use>
                            </svg>
                        </p>
                    </div>
                    <span class="slider__dots"></span>
                    <h3 class="slider__title">Emily, Los Angeles</h3>
                </div>
            </div>

            <!-- <div id="slide-4">4</div>
      <div id="slide-5">5</div> -->
        </div>




        <a class="slider__home" href="#slide-1" id="slide1">
        </a>
        <a class="slider__home" href="#slide-2" id="slide2"></a>
        <a class="slider__home" href="#slide-3" id="slide3"></a>
        <!-- <a href="#slide-4" id="slide4"></a>
      <a href="#slide-5" id="slide5"></a> -->


    </div>
</div>

</section>