<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="footer-text">
        <p class="footer-text__title">homemade ice cream made</p>
        <p class="footer-text__text">with passion</p>
      </div>
      <div class="footer-contacts">
        <ul class="social">
          <li class="social__item">
            <a
              href="https://github.com/Bazaley/Panda-Gang"
              class="social__link"
              target="_blank"
              aria-label="github link"
            >
              <svg width="20" height="20">
                <use href="./images/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://web.telegram.org/z/"
              class="social__link"
              target="_blank"
              aria-label="telegram link"
            >
              <svg width="20" height="16">
                <use href="./images/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              href="https://www.facebook.com/"
              class="social__link"
              target="_blank"
              aria-label="facebook link"
            >
              <svg width="10" height="20">
                <use href="./images/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer-contacts__text">
          Feel free to contact
          <a href="tel:+61(0)383766284" class="footer-contacts__link"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
    <p class="footer__copyright">
      &#169; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
