<section class="gallery section" id="gallery">
  <h2 class="visually-hidden">gallery</h2>
  <!-- <div class="gallery__container">
    <picture>
      <source
        srcset="
          ./images/gallery/desktop/gallery.webp    1x,
          ./images/gallery/desktop/gallery@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/gallery/desktop/gallery.png    1x,
          ./images/gallery/desktop/gallery@2x.png 2x
        "
        media="(min-width:1200px)"
      />
      <source
        srcset="
          ./images/gallery/tablet/gallery-tab.webp    1x,
          ./images/gallery/tablet/gallery-tab@2x.webp 2x
        "
        type="image/webp"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/gallery/tablet/gallery-tab.png    1x,
          ./images/gallery/tablet/gallery-tab@2x.png 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/gallery/mobile/gallery-mob.webp    1x,
          ./images/gallery/mobile/gallery-mob@2x.webp 2x
        "
        type="image/webp"
        media="(max-width:767px)"
      />
      <source
        srcset="
          ./images/gallery/mobile/gallery-mob.png    1x,
          ./images/gallery/mobile/gallery-mob@2x.png 2x
        "
        media="(max-width:767px)"
      />
      <img
        src="./images/gallery/desktop/gallery.png"
        alt="галерея картинок мороженого"
      />
    </picture>
  </div> -->

  <div class="gallery__container">
    <div class="image-wrapper image-wrapper__pic1">
      <picture>
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic1.webp    1x,
            ./images/gallery/desktop/masonry/ic1@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic1.png    1x,
            ./images/gallery/desktop/masonry/ic1@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic1.webp    1x,
            ./images/gallery/tablet/masonry/ic1@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic1.png    1x,
            ./images/gallery/tablet/masonry/ic1@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic1.webp    1x,
            ./images/gallery/mobile/masonry/ic1@2x.webp 2x
          "
          type="image/webp"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic1.png    1x,
            ./images/gallery/mobile/masonry/ic1@2x.png 2x
          "
          media="(max-width:767px)"
        />

        <img src="./images/gallery/desktop/masonry/ic1.png" alt="" />
      </picture>
    </div>
    <div class="image-wrapper image-wrapper__pic2">
      <picture>
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic2.webp    1x,
            ./images/gallery/desktop/masonry/ic2@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic2.png    1x,
            ./images/gallery/desktop/masonry/ic2@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic2.webp    1x,
            ./images/gallery/tablet/masonry/ic2@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic2.png    1x,
            ./images/gallery/tablet/masonry/ic2@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic2.webp    1x,
            ./images/gallery/mobile/masonry/ic2@2x.webp 2x
          "
          type="image/webp"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic2.png    1x,
            ./images/gallery/mobile/masonry/ic2@2x.png 2x
          "
          media="(max-width:767px)"
        />

        <img src="./images/gallery/desktop/masonry/ic2.png" alt="" />
      </picture>
    </div>
    <div class="image-wrapper image-wrapper__pic3">
      <picture>
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic3.webp    1x,
            ./images/gallery/desktop/masonry/ic3@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic3.png    1x,
            ./images/gallery/desktop/masonry/ic3@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic3.webp    1x,
            ./images/gallery/tablet/masonry/ic3@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic3.png    1x,
            ./images/gallery/tablet/masonry/ic3@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic3.webp    1x,
            ./images/gallery/mobile/masonry/ic3@2x.webp 2x
          "
          type="image/webp"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic3.png    1x,
            ./images/gallery/mobile/masonry/ic3@2x.png 2x
          "
          media="(max-width:767px)"
        />

        <img src="./images/gallery/desktop/masonry/ic3.png" alt="" />
      </picture>
    </div>
    <div class="image-wrapper image-wrapper__pic4">
      <picture>
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic4.webp    1x,
            ./images/gallery/desktop/masonry/ic4@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic4.png    1x,
            ./images/gallery/desktop/masonry/ic4@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic4.webp    1x,
            ./images/gallery/tablet/masonry/ic4@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic4.png    1x,
            ./images/gallery/tablet/masonry/ic4@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic4.webp    1x,
            ./images/gallery/mobile/masonry/ic4@2x.webp 2x
          "
          type="image/webp"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic4.png    1x,
            ./images/gallery/mobile/masonry/ic4@2x.png 2x
          "
          media="(max-width:767px)"
        />

        <img src="./images/gallery/desktop/masonry/ic4.png" alt="" />
      </picture>
    </div>
    <div class="image-wrapper image-wrapper__pic5">
      <picture>
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic5.webp    1x,
            ./images/gallery/desktop/masonry/ic5@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic5.png    1x,
            ./images/gallery/desktop/masonry/ic5@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic5.webp    1x,
            ./images/gallery/tablet/masonry/ic5@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic5.png    1x,
            ./images/gallery/tablet/masonry/ic5@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic5.webp    1x,
            ./images/gallery/mobile/masonry/ic5@2x.webp 2x
          "
          type="image/webp"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic5.png    1x,
            ./images/gallery/mobile/masonry/ic5@2x.png 2x
          "
          media="(max-width:767px)"
        />

        <img src="./images/gallery/desktop/masonry/ic5.png" alt="" />
      </picture>
    </div>
    <div class="image-wrapper image-wrapper__pic6">
      <picture>
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic6.webp    1x,
            ./images/gallery/desktop/masonry/ic6@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic6.png    1x,
            ./images/gallery/desktop/masonry/ic6@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic6.webp    1x,
            ./images/gallery/tablet/masonry/ic6@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic6.png    1x,
            ./images/gallery/tablet/masonry/ic6@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic6.webp    1x,
            ./images/gallery/mobile/masonry/ic6@2x.webp 2x
          "
          type="image/webp"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic6.png    1x,
            ./images/gallery/mobile/masonry/ic6@2x.png 2x
          "
          media="(max-width:767px)"
        />

        <img src="./images/gallery/desktop/masonry/ic6.png" alt="" />
      </picture>
    </div>
    <div class="image-wrapper image-wrapper__pic7">
      <picture>
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic7.webp    1x,
            ./images/gallery/desktop/masonry/ic7@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic7.png    1x,
            ./images/gallery/desktop/masonry/ic7@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic7.webp    1x,
            ./images/gallery/tablet/masonry/ic7@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic7.png    1x,
            ./images/gallery/tablet/masonry/ic7@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic7.webp    1x,
            ./images/gallery/mobile/masonry/ic7@2x.webp 2x
          "
          type="image/webp"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic7.png    1x,
            ./images/gallery/mobile/masonry/ic7@2x.png 2x
          "
          media="(max-width:767px)"
        />

        <img src="./images/gallery/desktop/masonry/ic7.png" alt="" />
      </picture>
    </div>
    <div class="image-wrapper image-wrapper__pic8">
      <picture>
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic8.webp    1x,
            ./images/gallery/desktop/masonry/ic8@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic8.png    1x,
            ./images/gallery/desktop/masonry/ic8@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic8.webp    1x,
            ./images/gallery/tablet/masonry/ic8@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic8.png    1x,
            ./images/gallery/tablet/masonry/ic8@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic8.webp    1x,
            ./images/gallery/mobile/masonry/ic8@2x.webp 2x
          "
          type="image/webp"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic8.png    1x,
            ./images/gallery/mobile/masonry/ic8@2x.png 2x
          "
          media="(max-width:767px)"
        />

        <img src="./images/gallery/desktop/masonry/ic8.png" alt="" />
      </picture>
    </div>
    <div class="image-wrapper image-wrapper__pic9">
      <picture>
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic9.webp    1x,
            ./images/gallery/desktop/masonry/ic9@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic9.png    1x,
            ./images/gallery/desktop/masonry/ic9@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic9.webp    1x,
            ./images/gallery/tablet/masonry/ic9@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic9.png    1x,
            ./images/gallery/tablet/masonry/ic9@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic9.webp    1x,
            ./images/gallery/mobile/masonry/ic9@2x.webp 2x
          "
          type="image/webp"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic9.png    1x,
            ./images/gallery/mobile/masonry/ic9@2x.png 2x
          "
          media="(max-width:767px)"
        />

        <img src="./images/gallery/desktop/masonry/ic9.png" alt="" />
      </picture>
    </div>
    <div class="image-wrapper image-wrapper__pic10">
      <picture>
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic10.webp    1x,
            ./images/gallery/desktop/masonry/ic10@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/desktop/masonry/ic10.png    1x,
            ./images/gallery/desktop/masonry/ic10@2x.png 2x
          "
          media="(min-width:1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic10.webp    1x,
            ./images/gallery/tablet/masonry/ic10@2x.webp 2x
          "
          type="image/webp"
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/tablet/masonry/ic10.png    1x,
            ./images/gallery/tablet/masonry/ic10@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic10.webp    1x,
            ./images/gallery/mobile/masonry/ic10@2x.webp 2x
          "
          type="image/webp"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./images/gallery/mobile/masonry/ic10.png    1x,
            ./images/gallery/mobile/masonry/ic10@2x.png 2x
          "
          media="(max-width:767px)"
        />

        <img src="./images/gallery/desktop/masonry/ic10.png" alt="" />
      </picture>
    </div>
  </div>
</section>
