<section class="hero">
  <div class="container hero__container">
    <div class="hero__icecream-wrapper">
      <picture class="hero__icecream-image">
        <source
          srcset="
            ./images/hero-header/desktop/icecream-hero.webp    1x,
            ./images/hero-header/desktop/icecream-hero@2x.webp 2x
          "
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero-header/desktop/icecream-hero.png    1x,
            ./images/hero-header/desktop/icecream-hero@2x.png 2x
          "
          media="(min-width: 1200px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/hero-header/tablet/icecream-hero-tab.webp    1x,
            ./images/hero-header/tablet/icecream-hero-tab@2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero-header/tablet/icecream-hero-tab.png    1x,
            ./images/hero-header/tablet/icecream-hero-tab@2x.png 2x
          "
          media="(min-width: 768px)"
          type="image/png"
        />

        <source
          srcset="
            ./images/hero-header/mobile/icecream-hero-mob.webp    1x,
            ./images/hero-header/mobile/icecream-hero-mob@2x.webp 2x
          "
          media="(max-width: 767.9px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero-header/mobile/icecream-hero-mob.png    1x,
            ./images/hero-header/mobile/icecream-hero-mob@2x.png 2x
          "
          media="(max-width: 767.9px)"
          type="image/png"
        />
        <img
          src="./images/hero-header/mobile/icecream-hero-mob.png"
          alt="big colorful corn icecream"
        />
      </picture>
    </div>

    <div class="hero__wrapper">
      <div class="hero__left-side">
        <h1 class="hero__title">
          ice cream <br />
          made with <br />
          <span class="hero__span">passion</span>
        </h1>

        <ul class="button__list">
          <li class="button__item">
            <a href="#products" class="hero__button hero__button--red"
              >Products</a
            >
          </li>

          <li class="button__item">
            <a href="#about" class="hero__button hero__button--white"
              >How it’s made?</a
            >
          </li>
        </ul>

        <ul class="about-milk">
          <li class="about-milk-img">
            <p class="about-milk__about is-hidden" data-hero-about>
              Most ice cream is made with lots of heavy cream and eggs. It
              tastes delicious but it’s not very health-conscious. Using milk
              can be a tasty and healthier alternative to traditional cream. If
              you prefer vegan options, you can even make ice cream with coconut
              milk.
            </p>
            <picture class="about-milk__image">
              <source
                srcset="
                  ./images/hero-header/desktop/milk-hero.webp    1x,
                  ./images/hero-header/desktop/milk-hero@2x.webp 2x
                "
                media="(min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/hero-header/desktop/milk-hero.png    1x,
                  ./images/hero-header/desktop/milk-hero@2x.png 2x
                "
                media="(min-width: 1200px)"
                type="image/png"
              />

              <source
                srcset="
                  ./images/hero-header/tablet/milk-hero-tab.webp    1x,
                  ./images/hero-header/tablet/milk-hero-tab@2x.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />
              <source
                srcset="
                  ./images/hero-header/tablet/milk-hero-tab.png    1x,
                  ./images/hero-header/tablet/milk-hero-tab@2x.png 2x
                "
                media="(min-width: 768px)"
                type="image/png"
              />
              <img
                src="./images/hero-header/tablet/milk-hero-tab.png"
                alt="jug of milk"
              />
            </picture>
          </li>
          <li class="about-milk__text">
            <p>
              Why better to Make <br />
              Ice Cream with Milk?
            </p>
            <button
              type="button"
              class="more-info"
              aria-label="button arrow right"
              data-hero-about-open
            >
              <svg class="more-info__icon" width="6px" height="9px">
                <use href="./images/sprite.svg#arrow-right"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>

      <div class="hero__right-side">
        <ul class="eateries__list">
          <li class="eateries__item eateries__item--top">
            <span class="eateries__span--red">16</span><br />cafes
          </li>
          <li class="eateries__item eateries__item--bottom">
            <span class="eateries__span--red">23</span><br />food trucks
          </li>
        </ul>

        <picture class="tasty-image">
          <source
            srcset="
              ./images/hero-header/desktop/tasty-hero.webp    1x,
              ./images/hero-header/desktop/tasty-hero@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero-header/desktop/tasty-hero.png    1x,
              ./images/hero-header/desktop/tasty-hero@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />

          <source
            srcset="
              ./images/hero-header/tablet/tasty-hero-tab.webp    1x,
              ./images/hero-header/tablet/tasty-hero-tab@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero-header/tablet/tasty-hero-tab.png    1x,
              ./images/hero-header/tablet/tasty-hero-tab@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <img
            src="./images/hero-header/tablet/tasty-hero-tab.png"
            alt="girl with iceream says tasty"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
