<section class="hero">
  <div class="container hero__container">
    <div class="hero__wrapper">
      <h1 class="hero__title">
        ice cream <br />
        made with <br />
        <span class="hero__span">passion</span>
      </h1>

      <a href="#products" class="hero__button hero__button--red">Products</a>

      <a href="#about" class="hero__button hero__button--white"
        >How it’s made?</a
      >
    </div>

    <div class="hero__icecream-wrapper">
      <picture class="hero__icecream-image">
        <!-- Desktop -->
        <source
          srcset="
            ./images/hero-header/desktop/icecream-hero.webp    1x,
            ./images/hero-header/desktop/icecream-hero@2x.webp 2x
          "
          media="(min-width: 1200px)"
          sizes="236, 100%"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero-header/desktop/icecream-hero.png    1x,
            ./images/hero-header/desktop/icecream-hero@2x.png 2x
          "
          media="(min-width: 1200px)"
          sizes="236, 100%"
          type="image/png"
        />
        <!-- Tablet -->
        <source
          srcset="
            ./images/hero-header/tablet/icecream-hero-tab.webp    1x,
            ./images/hero-header/tablet/icecream-hero-tab@2x.webp 2x
          "
          media="(min-width: 768px)"
          sizes="143, 100%"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero-header/tablet/icecream-hero-tab.png    1x,
            ./images/hero-header/tablet/icecream-hero-tab@2x.png 2x
          "
          media="(min-width: 768px)"
          sizes="143, 100%"
          type="image/png"
        />
        <!-- Mobile -->
        <source
          srcset="
            ./images/hero-header/mobile/icecream-hero-mob.webp    1x,
            ./images/hero-header/mobile/icecream-hero-mob@2x.webp 2x
          "
          media="(max-width: 767.9px)"
          sizes="171, 100%"
          type="image/webp"
        />
        <source
          srcset="
            ./images/hero-header/mobile/icecream-hero-mob.png    1x,
            ./images/hero-header/mobile/icecream-hero-mob@2x.png 2x
          "
          media="(max-width: 767.9px)"
          sizes="171, 100%"
          type="image/png"
        />
        <img
          src="./images/hero-header/mobile/icecream-hero-mob.png"
          alt="Большое разноцветное мороженое в рожке"
        />
      </picture>
    </div>

    <ul class="eateries__list">
      <li class="eateries__item eateries__item--top">
        <span class="eateries__span--red">16</span><br />cafes
      </li>
      <li class="eateries__item eateries__item--bottom">
        <span class="eateries__span--red">23</span><br />food trucks
      </li>
    </ul>

    <div class="tasty-image"></div>

    <ul class="about-milk">
      <li class="about-milk__image"></li>
      <li class="about-milk__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </li>
    </ul>
  </div>
</section>
