<section class="section products__section" id="products">
  <div class="container">
    <p class="suptitle">100% natural</p>
    <h2 class="title products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__item_bgc_pink products__div">
          <h3 class="products-card__title">ice cream</h3>
          <input
            type="checkbox"
            name="collapse"
            id="read-icecream"
            class="visually-hidden"
          />
          <p class="products-card__text">
            What could be better than ice cream in summer hit?! The set includes
            three flavors: Gorgonzola, Strawberry-Basel and Fig Mascarpone.
          </p>
          <p class="products-card__text icecream__content">
            Combination of soft cream cheese mascarpone with pieces of candied
            figs. Kumquat gelato and the famous Quantro orange liqueur. Sweet
            and sour taste of garden berries in sorbet without adding sugar.
          </p>
          <label for="read-icecream" class="read-icecream products__btn">
            <svg class="products__icon" width="20" height="20">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </label>
        </div>
      </li>
      <li class="products__item">
        <div class="products__item_bgc_coral products__div">
          <h3 class="products-card__title">ice coffee</h3>
          <input
            type="checkbox"
            name="collapse"
            id="read-icecoffee"
            class="visually-hidden"
          />
          <p class="products-card__text">
            Wonderful iced coffee with vanilla flavoring — just like you'd get
            at Panda gang! Perfect for hot summer days. If you are very hot, we
            can add more ice!
          </p>
          <p class="products-card__text icecoffee__content">
            Would you like to play with tastes?! Give your Iced Coffee an extra
            kick with cinnamon syrup and light-tasting dairy free Baileys
            Almande. The perfect harmony of flavors is just like a great opera.
            Talk about delicious!
          </p>
          <label for="read-icecoffee" class="read-icecoffee products__btn">
            <svg class="products__icon" width="20" height="20">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </label>
        </div>
      </li>
      <li class="products__item">
        <div class="products__item_bgc_pistachio products__div">
          <h3 class="products-card__title">milkshakes</h3>
          <input
            type="checkbox"
            name="collapse"
            id="read-milkshake"
            class="visually-hidden"
          />
          <p class="products-card__text">
            If you are a great chocolate lover, then this is what you are realy
            looking for. What's more fun for a Girls' Night than a Baileys
            Milkshake Bar?!
          </p>
          <p class="products-card__text milkshake__content">
            This milkshake is fantabulous! Chocolate ice cream, chocolate syrup,
            chocolate drink mix and chocolate chips are all whirled together
            with milk to produce a concoction so chocolaty, that it is to make
            you tingle.
          </p>
          <label for="read-milkshake" class="read-milkshake products__btn">
            <svg class="products__icon" width="20" height="20">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </label>
        </div>
      </li>
    </ul>
  </div>
</section>
