<section class="section products__section">
  <div class="container">
    <p class="suptitle">100% natural</p>
    <h2 class="title products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__item_bgc_pink products__div">
          <h3 class="products-card__title">ice cream</h3>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <!--<p class="products-card__text products-card__content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
                sed nihil provident corporis cumnumquam accusamus. Dignissimos,
                dolores vitae voluptate, quam, neque provident impedit suscipit
                molestiae facilis dolorum fugit deleniti.
              </p> -->
          <button type="button" class="products__btn">
            <svg class="products__icon" width="20" height="20">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__item_bgc_coral products__div">
          <h3 class="products-card__title">ice coffee</h3>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="submit" class="products__btn">
            <svg class="products__icon" width="20" height="20">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__item_bgc_pistachio products__div">
          <h3 class="products-card__title">milkshakes</h3>
          <p class="products-card__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="submit" class="products__btn">
            <svg class="products__icon" width="20" height="20">
              <use href="./images/sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
