.adventures__list {
  display: flex;
  flex-direction: column;
}

.section-adventures {
  background-color: var(--background_container);
}
.adventures__text {
  color: var(--primary_text_color);
}
.adventures__title {
  color: var(--main_color);
  margin-bottom: 30px;
  font-family: 'Titan One';
}
.adventures__item-one {
  &::before {
    display: block;
    align-items: center;
    content: '';
    width: 50px;
    height: 50px;
    // background-size: contain;
    margin-bottom: 36px;
    border: none;
    background-image: url('../images/about/milk.png');
    background-repeat: no-repeat;
  }
}
.adventures__item-two {
  &::before {
    display: block;
    align-items: center;
    content: '';
    width: 50px;
    height: 50px;
    // background-size: contain;
    margin-bottom: 36px;
    border: none;
    background-image: url('../images/about/apples.png');
    background-repeat: no-repeat;
  }
}
.adventures__item-three {
  &::before {
    display: block;
    align-items: center;
    content: '';
    width: 50px;
    height: 50px;
    // background-size: contain;
    margin-bottom: 36px;
    border: none;
    background-image: url('../images/about/heart.png');
    background-repeat: no-repeat;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .advantages__item-one {
    content: '';
    background-image: url('../images/about/milk@2x.png');
  }
  .advantages__item-two {
    content: '';
    background-image: url('../images/about/apples@2x.png');
  }
  .advantages__item-three {
    content: '';
    background-image: url('../images/about/heart@2x.png');
  }
}

@media screen and (max-width: 767px) {
  .adventures__item {
    width: 100%;
  }
  .adventures__title {
    font-size: 36px;
    line-height: 1.14;
  }
  .adventures__list {
    gap: 32px;
  }
  .adventures__text {
    @include font(700, 12px, 20px);
    letter-spacing: 0.02em;
    // width: 230px;
  }
}

@media screen and (min-width: 768px) {
  .adventures__list {
    flex-direction: row;
    row-gap: 22px;
  }
  @media screen and (max-width: 1199px) {
    .adventures__list {
      justify-content: space-between;
    }
    .adventures__title {
      font-size: 48px;
      line-height: 1.15;
    }
    .adventures__text {
      @include font(700, 14px, 24px);
      letter-spacing: 0.02em;
      width: 180px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .adventures__title {
    font-size: 58px;
    line-height: 1.14;
  }
  .adventures__text {
    @include font(700, 16px, 28px);
    letter-spacing: 0.02em;
  }
  .adventures__list {
    gap: 80px;
  }
}
