.customer-reviews {
  @media screen and (max-width: 1199px) {
    padding-top: 0;
  }
}

.swiper-wrapper {
  cursor: pointer;
}

.slider__text-box {
  background: #fafafa;
  max-width: 281px;
  margin-top: 16px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 43px;
  padding-bottom: 26px;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-image: url(../images/“.svg);
    top: 28px;
    left: 51px;
    width: 54px;
    height: 40px;

    @media screen and (min-width: 768px) {
      top: 19px;
      left: 13px;
    }

    @media screen and (min-width: 1200px) {
      top: 18px;
      left: 79px;
    }
  }
}

.slider__text {
  @include font(500, 12px, 31px);
  text-align: center;
  color: var(--primary_text_color);
  position: relative;
  padding-left: 15px;
  padding-right: 8px;
  background: repeating-linear-gradient(#0000, #0000 29px, #e1e1e1 30px);
}

.slider__text-icon {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
}

.slider__title {
  @include font(500, 14px, 26px);
  margin-top: 16px;
  padding-bottom: 35px;
  text-align: center;
  color: var(--primary_text_color);

  @media screen and (min-width: 768px) {
    padding-bottom: 57px;
  }
}

.slider__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider__dots {
  margin-top: 16px;
  position: relative;
  background: #c7133e;
  border-radius: 2px;
  padding: 2px;

  &::before {
    position: absolute;
    left: -14px;
    content: '';
    top: 0;
    background: #c7133e;
    border-radius: 2px;
    font-size: 0;
    padding: 2px;
  }

  &::after {
    position: absolute;
    left: 14px;
    content: '';
    background: #c7133e;
    border-radius: 2px;
    font-size: 0;
    top: 0;
    padding: 2px;
  }
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}

.swiper-pagination-bullet-active {
  background-color: transparent !important;
  background-image: url(../images/home.svg) !important;
  border-radius: 0 !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px !important;
}

@media screen and (min-width: 768px) {
  .slider__text-box {
    max-width: 620px;
    padding: 37px 6px 44px 6px;
  }
  .slider__text {
    font-size: 14px;
    line-height: 30px;
    padding-left: 45px;
    padding-right: 50px;
  }
  .slider__title {
    font-size: 16px;
    line-height: 30px;
  }
  .slides {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .slider__text-box {
    max-width: 968px;
    padding: 32px 74px 31px 72px;
  }
  .slider__text {
    font-size: 16px;
    line-height: 30px;
    padding-left: 37px;
    padding-right: 35px;
  }
  .slider__title {
    font-size: 20px;
    line-height: 37px;
  }
}
