.slider__home-icon {
  content: '';
  position: absolute;
  top: 0;
  left: 0;

  // visibility: hidden;
  // z-index: 0;
  // opacity: 0;
}

.slider__text-box {
  background: #fafafa;
  max-width: 280px;
  margin-top: 16px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 43px;
  padding-bottom: 26px;
}

.slider__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  /* or 31px */
  text-align: center;
  color: #000000;

  position: relative;

  padding-left: 15px;
  padding-right: 8px;
  background: repeating-linear-gradient(#0000, #0000 29px, #e1e1e1 30px);
}

.slider__text-icon {
  content: '';
  position: absolute;
  top: -15px;
  left: 0;
}

.slider__title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* or 186% */
  margin-top: 16px;

  text-align: center;

  color: #000000;
}

.slider__box {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider__dots {
  margin-top: 16px;
  position: relative;
  background: #c7133e;
  border-radius: 2px;
  font-size: 0;
  padding: 2px;
  display: flex;
  justify-content: center;
}

.slider__dots:before {
  position: absolute;
  left: -14px;
  content: '';
  top: 0;
  background: #c7133e;
  border-radius: 2px;
  font-size: 0;
  padding: 2px;
}

.slider__dots:after {
  position: absolute;
  left: 14px; //using left instead of right
  content: '';
  background: #c7133e;
  border-radius: 2px;
  font-size: 0;
  top: 0;
  padding: 2px;
}

.slider {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  overflow-x: auto;
  // scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  // -webkit-overflow-scrolling: touch;
  margin-bottom: 16px;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides::-webkit-scrollbar-thumb {
  display: none;
}

.slides::-webkit-scrollbar-track {
  display: none;
  background: transparent;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;

  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  // position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // font-size: 16;
}

.slider > a {
  display: inline-flex;
  width: 12px;
  height: 12px;
  background: #d9d9d9;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  position: relative;
}

.slider > a:active {
  align-items: center;
  justify-content: center;
  background-position: center;
}

// .slider > a:focus {
//   background: #eee;
// }

/* Навигационной кнопки не требуется  */

// .slider > a {
//   display: none;
// }

@media screen and (min-width: 768px) {
  .slider__text-box {
    max-width: 620px;
    padding: 37px 6px 44px 6px;
  }
  .slider__text {
    font-size: 14px;
    line-height: 30px;
    padding-left: 45px;
    padding-right: 50px;
  }
  .slider__title {
    font-size: 16px;
    line-height: 30px;
  }
  .slides {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .slider__text-box {
    max-width: 968px;
    padding: 47px 109px 39px 109px;
  }
  .slider__text {
    font-size: 16px;
    line-height: 30px;
    padding-left: 37px;
    padding-right: 35px;
  }
  .slider__title {
    font-size: 20px;
    line-height: 37px;
  }
}
