.gallery__container {
  margin: 0 auto 60px;
  max-width: 480px;
  background-image: linear-gradient(rgb(255, 245, 246), rgb(255, 255, 255));

  @media screen and(min-width:768px) {
    max-width: 768px;
  }

  @media screen and(min-width:1200px) {
    max-width: 1013px;
    margin: 0 auto 120px;
  }
}
