.hero {
    position: relative;
    display: flex;

    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 1200px;
    height: 502px;
    background-color: var(--background_pink);

    letter-spacing: 0.04em;
    color: var(--primary_color);

    overflow: hidden;
}

.hero__container {
    position: relative;
}


.hero__wrapper {
    position: relative;
    z-index: 2;
    width: 100%;

    margin-top: 194px;
}


.hero__title {
    @include font(400, 26px, 29.77px);
    font-family: 'Titan One', sans-serif;
    display: block;
    margin-bottom: 20px;

    text-transform: uppercase;
}

.hero__span {
    @include font(400, 48px, 46.32px);
    color: var(--main_color);
    letter-spacing: 0;
}

.button__list {
    display: flex;
}

.button__item:not(:last-child) {
    margin-right: 8px;
}

.hero__button {
    @include font(400, 8px, 10px);
    max-width: 83px;
    height: 24px;

    padding: 9px 13px;
    letter-spacing: 0;

    @include alignment(inline-flex, center, center);

    border-style: none;
    border-radius: 20px;

    cursor: pointer;
}

.hero__button--red {
    width: 107px;
    background-color: var(--title-color);
    color: var(--primary_color);

    &:visited {
        background-color: inherit;
    }
}

.hero__button--white {
    background-color: var(--primary_color);
    color: var(--title-color);

    &:hover,
    &:focus {
        background-color: var(--button_text_color);
    }

    &:visited {
        background-color: inherit;
    }
}

.hero__icecream-wrapper {
    position: absolute;
    top: 83px;
    left: 11%;
    width: 346px;
    height: 344px;

    z-index: 1;

    border-radius: 50%;
    background-color: var(--main_pink_color);

}

.hero__icecream-image {
    position: absolute;
    top: 9px;
    left: 81px;
    z-index: 3;

    transform: translate(0, 100%);
    animation: transform 1000ms 500ms forwards;
    -webkit-animation: transform 1000ms 500ms forwards;
    -moz-animation: transform 1000ms 500ms forwards;

    @keyframes transform {
        0% {
            transform: translate(0,100%);
            animation-timing-function: ease-in;
        }

        100% {
            transform: translate(0, 0%);
            animation-timing-function: ease-in;
        }      
    }
}

.hero__right-side {
    display: none;
    position: relative;
}

.tasty-image {
    position: absolute;
    right: 0;
    bottom: 0;

    opacity: 0;
    animation: opacity 1000ms 2000ms forwards;
    -webkit-animation: opacity 1000ms 2000ms forwards;
    -moz-animation: opacity 1000ms 2000ms forwards;

    @keyframes opacity {
        0% {
            opacity: 0;
            animation-timing-function: ease-in;
        }

        100% {
            opacity: 1;
            animation-timing-function: ease-in;
        }      
    }
}

.about-milk {
    display: none;

}

@media screen and (max-width: 767.9px) {
    .hero__container {
        width: 100%;
    }
}



@media screen and (min-width: 768px) {
    .hero {
        height: 416px;
    }

    .hero__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        height: 100%;
    }

    .hero__left-side {
        display: flex;
        flex-direction: column;

        margin-top: 102px;
    }
    

    .hero__right-side {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;

        margin-top: 92px;
    }

    .hero__title {
        @include font(400, 22px, 25.19px);
    }

    .hero__span {
        @include font(400, 34px, 30.77px);
        letter-spacing: 0.04;
    }

    .button__list {
        margin-bottom: 20px;
    }

    .hero__icecream-wrapper {
        top: 43px;
        left: 248px;
        width: 335px;
        height: 333px;

        z-index: 1;

        border-radius: 50%;
        background-color: var(--main_pink_color);

    }

    .hero__icecream-image {
        top: 37px;
        left: 74px;
    }

    .eateries__list {
        display: block;
        @include font(400, 8px, 10px);

        margin-right: 8px;
        margin-bottom: 70px;
        text-align: right;
    }


    .eateries__span--red {
        font-family: 'Titan One', sans-serif;
        @include font(400, 28px, 32px);
        color: var(--main_color);
    }

    .eateries__item {
        position: relative;
        z-index: 2;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    .eateries__item::before {
        position: absolute;
        z-index: -1;
        top: -2.5px;
        right: -8px;
        content: "";
        width: 16px;
        height: 16px;
        background-color: var(--primary_color);
        border-radius: 50%;
    }

    .tasty-image {
        display: block;
        width: 190px;
        height: 150px;
        background-size: 190px 150px;
        background-repeat: no-repeat;
        background-image: url(../images/hero-header/tablet/tasty-hero-tab.png);
        z-index: 3;
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .tasty-image {
            background-image: url(../images/hero-header/tablet/tasty-hero-tab@2x.png);
        }
    }

    .about-milk {
        @include alignment(flex, center, center);

    }

    .about-milk__image {
        width: 152px;
        height: 154px;
        background-size: 152 154;
        background-repeat: no-repeat;
        background-image: url(../images/hero-header/tablet/milk-hero-tab.png);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .about-milk__image {
            background-image: url(../images/hero-header/tablet/milk-hero-tab@2x.png);
        }
    }

    .about-milk__text {
        @include font(400, 8px, 12px);
        width: 114px;
        z-index: 5;
    }

    
    .more-info {
        @include alignment(flex, center, center);

        height: 18px;
        width: 18px;
        padding: 4px;
        border-radius: 50%;
        background-color: var(--primary_color);
        margin-top: 7px;
        
        border: none;
        cursor: pointer;
    }

    .more-info__icon {
        fill: var(--main_color);
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        height: 664px;
    }
    
    .hero__left-side {
        margin-top: 147px;
    }
    

    .hero__right-side {
        margin-top: 152px;
        
    }

    .hero__title {
        @include font(400, 38px, 44px);
    }

    .hero__span {
        @include font(400, 58px, 53px);
    }

    .hero__icecream-wrapper {
        top: 54px;
        left: 517px;
        width: 534px;
        height: 534px;

    }

    .hero__icecream-image {
        top: 54px;
        left: 119px;
    }

    .eateries__list {
        top: 152px;
        right: 32px;
        @include font(400, 14px, 18px);
    }


    .eateries__span--red {
        @include font(400, 46px, 53px);
    }

    .eateries__list {
        margin-right: 16px;
        margin-bottom: 103px;
    }

    .eateries__item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .eateries__item::before {
        right: -16px;
        width: 30px;
        height: 30px;

    }

    .tasty-image {
        right: 16px;
        width: 304px;
        height: 241px;
        background-size: 304px 241px;
        background-image: url(../images/hero-header/desktop/tasty-hero.png);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .tasty-image {
            background-image: url(../images/hero-header/desktop/tasty-hero@2x.png);
        }
    }

    .about-milk {
        left: 16px;
        bottom: 60px;

    }

    .about-milk__image {
        width: 213px;
        height: 216px;
        background-size: 213 216;
        background-image: url(../images/hero-header/desktop/milk-hero.png);
    }

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        .about-milk__image {
            background-image: url(../images/hero-header/desktop/milk-hero@2x.png);
        }
    }

    .about-milk__text {
        @include font(400, 14px, 20px);
        width: 200px;
    }

    
    .more-info {
        @include alignment(flex, center, center);

        height: 26px;
        width: 26px;
        margin-top: 20px;
    }

    .more-info__icon {
        width: 9px;
        height:  12px;
    }

    .hero__button {
        @include font(400, 14px, 18px);
        max-width: 138px;
        height: 40px;


        cursor: pointer;

        &:not(:last-child) {
            margin-right: 8px;
        }
    }

    .hero__button--red {
        background-color: var(--title-color);
        color: var(--primary_color);

        &:visited {
            background-color: inherit;
        }
    }

    .hero__button--white {
        background-color: var(--primary_color);
        color: var(--title-color);

        &:hover,
        &:focus {
            background-color: var(--button_text_color);
        }

        &:visited {
            background-color: inherit;
        }
    }
}
