
 .products__title {
     margin-bottom: 148px;
 }

 @media screen and (min-width: 768px) {
     .products__title {
         margin-bottom: 158px;
     }
 }

  @media screen and (min-width: 1200px) {
    .products__title {
            margin-bottom: 261px;
        }
    }
 
 
 @media screen and (min-width: 768px) {
    .products__list {
            display: flex;
    }
 }


 @media screen and (max-width: 767px) {
     .products__item {
         width: 280px;
         margin-left: auto;
         margin-right: auto;


        &:not(:last-child) {
        margin-bottom: 140px;
    }
    }
 }


 @media screen and (min-width: 768px) {
     .products__item {
         flex-basis: calc((100% - 32px) / 3);

        &:not(:last-child) {
            margin-right: 16px;
        }
 }
}

 @media screen and (min-width: 1200px) {
     .products__item {
         flex-basis: calc((100% - 64px) / 3);

        &:not(:last-child) {
                margin-right: 32px;
            }       
     }
 }


 /* .products__item {
     padding-top: 140px;
 }

 @media screen and (min-width: 768px) {
    .products__item {
            padding-top: 138px;
        }
 }

 @media screen and (min-width: 1200px) {
    .products__item {
            padding-top: 261px;
        }
 }
*/
  .products__div {
     position: relative;

     display: block;
     padding: 160px 39px 40px 41px;
     border-radius: 24px;

     text-align: center;
     cursor: pointer;
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover {
         box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
     }       
    }            
 

    @media screen and (min-width: 768px) {
        .products__div {
           padding: 118px 32px 40px;  
        }
     } 

   @media screen and (min-width: 1200px) {
        .products__div {
         padding: 165px 62px 60px 61px;
     }
 }

 .products__item_bgc_pink {
     background: var(--background_pink);
 }

 .products__item_bgc_coral {
     background-color: var(--background_cafe);
 }

 .products__item_bgc_pistachio {
     background-color: var(--background_green);
 }

  .products__div::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
     
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
  }

.products__item_bgc_pink::before {
    width: 280px;
    height: 280px;

  background-image: url('../images/products/mobile/icecream-products-mob.png');
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .products__item_bgc_pink::before {
          background-image:
              url('../images/products/mobile/icecream-products-mob@2x.png');
      }
  }

  @media screen and (min-width: 768px) {
  .products__item_bgc_pink::before {
    width: 224px;
    height: 224px;
      background-image: url('../images/products/tablet/icecream-products-tab.png');
 }

 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .products__item_bgc_pink::before {
         background-image:
             url('../images/products/tablet/icecream-products-tab@2x.png');
     }
}
  }  

@media screen and (min-width: 1200px) {
       .products__item_bgc_pink::before {
        width: 368px;
        height: 394px;
        transform: translate(-50%, -65%);
           background-image: url('../images/products/desktop/icecream-products.png');
       }

           @media (min-device-pixel-ratio: 2),
           (min-resolution: 192dpi),
           (min-resolution: 2dppx) {
            .products__item_bgc_pink::before {
                   background-image:
                       url('../images/products/desktop/icecream-products@2x.png');
               }           
       }
    }
 

 .products__item_bgc_coral::before {

    width: 280px;
    height: 280px;
     
     background-image: url('../images/products/mobile/icecoffee-products-mob.png');    
        
 }

 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
    .products__item_bgc_coral::before {
         background-image:
             url('../images/products/mobile/icecoffee-products-mob@2x.png');
     }
 }

 @media screen and (min-width: 768px) {
    .products__item_bgc_coral::before {
        width: 224px;
        height: 224px;
   
            background-image: url('../images/products/tablet/icecoffee-products-tab.png'); 
            
            }

     @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                        .products__item_bgc_coral::before {
                                background-image:
                                    url('../images/products/tablet/icecoffee-products-tab@2x.png');
                            }
        }
 }

 @media screen and (min-width: 1200px) {
    .products__item_bgc_coral::before {
        width: 368px;
            height: 394px;
    transform: translate(-50%, -65%);
            background-image: url('../images/products/tablet/icecoffee-products-tab.png');           
            }


 @media (min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .products__item_bgc_coral::before {
         background-image:
             url('../images/products/tablet/icecoffee-products-tab@2x.png');
     }
 }
 }
 

 .products__item_bgc_pistachio::before {
    width: 280px;
    height: 280px;
    
     background-image: url('../images/products/mobile/milkshake-products-mob.png');        
    }


         @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
            .products__item_bgc_pistachio::before {
                 background-image:
                     url('../images/products/mobile/milkshake-products-mob@2x.png');
             }
         }

        @media screen and (min-width: 768px) {
            .products__item_bgc_pistachio::before {
                width: 224px;
                height: 224px;
    
                background-image: url('../images/products/tablet/milkshake-products-tab.png');     
                   
                }

         @media (min-device-pixel-ratio: 2),
                                 (min-resolution: 192dpi),
                                 (min-resolution: 2dppx) {
                                    .products__item_bgc_pistachio::before {
                                         background-image:
                                             url('../images/products/tablet/milkshake-products-tab@2x.png');
                                     }
                                 }
        }
    
        @media screen and (min-width: 1200px) {
            .products__item_bgc_pistachio::before {
                width: 368px;
                height: 394px;
                transform: translate(-50%, -65%);
                    background-image: url('../images/products/desktop/milkshake-products.png');
             }
             @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        .products__item_bgc_pistachio::before {
                            background-image:
                                url('../images/products/desktop/milkshake-products@2x.png');
                        }
                    }
        }

.products-card__title {
    position: relative;
    margin-bottom: 70px;

    font-family: 'Titan One';
    color: var(--primary_color);
    @include font(400, 20px, 23px);
    letter-spacing: 0.04em;

    text-transform: uppercase;
    text-align: center;  
    
          &::after {
            content: '';
            display: block;
            margin: 0 auto;
            width: 6px;
            height: 6px;
            margin-top: 30px;
            border-radius: 50%;
    
            background-color: #FFFFFF;
            box-shadow: -10px 0 0 #FFFFFF, 10px 0 0 #FFFFFF;
        }
}


/*
      &::after { 
        position: absolute; 
        content: '\2807';
        width: 6px;
        height: 6px;
        color: #FFFFFF;
        left: 50%;
        bottom: -32px;
        transform: rotate(90deg);
}
*/

@media screen and (min-width: 1200px) {
    .products-card__title {
        font-size: 30px;
        line-height: 34px;
    }
}

@media screen and (min-width: 1200px) {
    .products-card__title::after {
        margin-top: 32px;
    }
}

.products-card__text {
    font-family: 'DM Sans';
    color: var(--primary_color);

    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: center;   
}

.icecream__content,
.icecoffee__content,
.milkshake__content {
    display: none;
    transition: display 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

#read-icecream:checked,
#read-icecoffee:checked,
#read-milkshake:checked {
    

    &~.icecream__content,
    &~.icecoffee__content,
    &~.milkshake__content {
        display: block;
        margin-top: 15px;
    }
}

.products__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: var(--primary_color);
    color: var(--main_color);
    cursor: pointer;
}

.products__icon {
    fill: currentColor;
}

.read-icecream,
.read-icecoffee,
.read-milkshake {
    margin: auto;
    margin-top: 60px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        background-color: var(--main_color);
        color: var(--primary_color);
        transform: scale(1.1) rotate(90deg);
    }
}

#read-icecream:checked,
#read-icecoffee:checked,
#read-milkshake:checked {

    &~.read-icecream,
    &~.read-icecoffee,
    &~.read-milkshake {

        &:hover,
        &:focus {
            background-color: var(--main_color);
            transform: scale(1.1) rotate(-90deg);
        }
    }
}

